{% extends 'layout.html' %}

{% block body %}
<div class="divlogo col-md-12 mb-3" style="position: absolute; top: 50px">
    <a href="/"><img src="../static/css/img/LOGO_QARD.png" class="logoqard"></a>
</div>
<div class="text-light">
    <h1>ABOUT</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente eligendi similique officiis! Repudiandae dolor aliquam nesciunt illum eligendi placeat laudantium culpa aut, perferendis, qui delectus? Pariatur voluptatibus dolore ducimus numquam.</p>
</div>

{% endblock %}